
/*
This scope is for HTML content from the CMS
It sets up basic formatting rules so the user is not required to
*/
.scope-cms {
	line-height: $line-height;

	p, ol, ul {
		&:not(:last-child) {
			margin-bottom: .9em;
		}
	}

	ul {
		margin-left: 1.5em;

		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;

		margin-left: 1.2em;

		& > li > ol {
			margin-top: .5em;
			list-style-type: lower-roman;

			& > li > ol {
				list-style-type: lower-alpha;
			}
		}
	}

	li {
		margin-bottom: .5em;
	}

	a:link, a:visited {
		color: map_get($colours, primary);
	}

	a:hover, a:active {
		color: map_get($colours, secondary);
	}

	table {
		@media all and (max-width: 600px) {
			font-size: .9em;
		}
	}

	th {
		font-weight: 600;
	}
}