//   ###  #### ##### #####  ###   #  #   ###   ###
//  #     #      #     #     #    ## #  #     #
//   ##   ###    #     #     #    # ##  # ##   ##
//     #  #      #     #     #    #  #  #  #     #
//  ###   ####   #     #    ###   #  #   ###  ###
//

$debug: false;

$colours: (
		body-text: #3b222a,
		white: #fff,
        grey: #e4e4e4,
		black: #000,
		primary: #e5304f,
		secondary: #54334a
);


/*
Font 1:
Festivo Letters No.6
Converted with Font Squirrel
*/

$font-1-family: "Libre Baskerville", serif;
$font-1-regular: 400; // book
$font-1-bold: 700; // medium

/* @import must be at top of file, otherwise CSS will not work */
@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400; // ‘body’ weight, we this to the medium font
    font-stretch: normal;
    src: url('/fonts/gilroy-regular.woff2') format('woff2');
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700; // ‘bold’ weight, we map this to the semi-bold weight
    font-stretch: normal;
    src: url('/fonts/gilroy-semi-bold.woff2') format('woff2');
}

$font-2-family: "Gilroy", Arial, sans-serif;
$font-2-regular: 400; // book
$font-2-bold: 700; // medium


// Standard line-height for content
$line-height: 1.55;

// All the margin and padding utility classes to be created
$spaces: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 15, 17, 20, 22, 25, 30, 35, 40, 45, 50, 55, 60, 70, 80, 85, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200;

// Widths of the spans
$widths: (
		narrowest: 620px,
		narrow: 750px,
		medium: 900px,
		wide: 1200px,
);

::selection {
	background-color: #666;

	color: #fff;
}
