.briefs {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    padding-left: 0;

    &__brief {
        max-width: 180px;
        color: inherit;
        text-decoration: none;

        &--large {
            max-width: 244px;
        }
    }
}
