
.button {
	display: inline-block;

	padding: 10px 18px;

	color: #fff;
	font-family: $font-1-family;
    font-size: 18px;
	text-align: center;
	text-decoration: none;

	transition: all .15s linear;

	background-color: map_get($colours, black);

	cursor: pointer;

	&:hover {
		background-color: map_get($colours, primary);
	}
}
