.footer {
    color: #{map_get($colours, white)};
    background-color: #{map_get($colours, black)};
    padding: 60px 0;
    display: grid;
    text-align: center;

    &__partners {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: center;
        align-items: center;
    }

    &__print {
        width: 100%;
        max-width: 1600px;
        display: grid;
        gap: 20px;

        color: #{map_get($colours, grey)};

        text-align: left;

        @media (min-width: 700px) {
            display: flex;
            gap: 0;
            justify-content: space-between;
        }
    }
}
