.header {
    display: grid;
    padding: 45px 0;
    row-gap: 30px;

    text-align: center;

    @media (min-width: 800px) {
        grid-auto-columns: minmax(0, 1fr);
        grid-template: "organiser logo sponsor";
        padding: 45px 75px;
    }

    &__left {
        @media (min-width: 800px) {
            justify-self: left;
            grid-area: organiser;
        }
    }

    &__right {
        @media (min-width: 800px) {
            justify-self: right;
            grid-area: sponsor;
        }
    }
}
