

/*
This file styles the Laraform inputs. As we don’t have full control over their HTML markup
it breaks some of the rules for proper BEM conventions but I think we can let that go.
*/

/* purgecss start ignore */

input, select, textarea {
	font-family: inherit;
}

.input {
	margin-bottom: 25px;

	&__inner {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: 90px 1fr;
		align-items: start;

		@media all and (min-width: 500px) {
			grid-template-columns: 120px 1fr;
		}

		&--wide {
			grid-template-columns: 1fr;
		}

		.text-danger {
			margin-top: 5px;

			@extend .t-5;

            text-transform: uppercase;
		}
	}

	&__label {
		padding-top: 12px;
	}

	// style the inputs
	input, select, textarea {
		padding: 12px 14px;

		width: 100%;

		border: solid 1px #aaa;

		font-family: Arial, Helvetica, sans-serif;
		font-size: 17px;
		line-height: 1.4;
	}
}

select {
	-webkit-appearance: none;

	background-image: url(../img/select-arrow.svg);
	background-position: right 20px center;
	background-repeat: no-repeat;
}

.field-description {
	display: block;

	margin-top: 10px;

	color: #333;
	@extend .t-5;
}

/* purgecss end ignore */
