//  ###   ####  ###   #  #   ###        ###   #  #  #     ####   ###
//  #  #  #     #  #  #  #  #           #  #  #  #  #     #     #
//  #  #  ###   ###   #  #  # ##        ###   #  #  #     ###    ##
//  #  #  #     #  #  #  #  #  #        # #   #  #  #     #        #
//  ###   ####  ###    ##    ###        #  #   ##   ####  ####  ###
//

@if ($debug) {

	* {
		/*
		Add backgrounds to each element
		*/

		background-color: rgba(255, 100, 100, .05);

		/*
		Outline each element. Unlike borders, outlines do not change layout
		*/
		outline: solid 1px rgba(0, 100, 50, .1);

		/*
		Animate all changes. Great for live reload or watch elements disappear off the screen.
		Do not use this as the rule for hover effects on buttons etc.
		*/

		transition: all 1s linear;

		/*
		Write the class names to the screen
		*/
		&:before {
			/*content: attr(class);

			padding: 3px;
			position: absolute;

			background-color: rgba(255, 255, 255, .5);

			font-family: arial, sans-serif;
			font-size: 8pt;*/
		}
	}

}


.debug-region {
	//position: relative;

	&:active {
		outline: solid 2px #f00;
		background-color: rgba(255, 0, 0, .1);

		&::before {
			content: attr(data-view);

			display: inline-block;

			padding: 10px;
			position: fixed;
			bottom: 0;
			right: 0;
			z-index: 99999;

			background-color: #333;

			color: #fff;
			font-family: arial, sans-serif;
			font-size: 10pt;
			font-weight: bold;

			pointer-events: none;
		}
	}
}