
.link-no-colour {
	@extend .base-link;
}

.link-current-colour {
	@extend .base-link;

	color: currentColor;
}

.link-bwi {
	@extend .base-link;

	color: currentColor;

	&:hover {
		color: #fff200;
	}
}

.base-link {
	text-decoration: none;
}