/*
Utilities are helper classes that can override the values specified elsewhere.
*/


//   ##   #     ###    ###  #  #  #  #  ####  #  # #####        #  #         ###  ###    ##    ###  ###   #  #   ###
//  #  #  #      #    #     ## #  ####  #     ## #   #           ##         #     #  #  #  #  #      #    ## #  #
//  #  #  #      #    # ##  # ##  ####  ###   # ##   #          ####         ##   ###   #  #  #      #    # ##  # ##
//  ####  #      #    #  #  #  #  #  #  #     #  #   #           ##            #  #     ####  #      #    #  #  #  #
//  #  #  ####  ###    ###  #  #  #  #  ####  #  #   #          #  #        ###   #     #  #   ###  ###   #  #   ###
//

/*
These classes are used to space items vertically and consistently. Use them to to space out core blocks of content.
*/

.u-m {
	@each $space in $spaces {
		&-#{$space} {
			margin: #{$space}px;
		}
	}

	@each $space in $spaces {
		&v-#{$space} {
			margin-bottom: #{$space}px;
			margin-top: #{$space}px;
		}
	}

	@each $space in $spaces {
		&h-#{$space} {
			margin-left: #{$space}px;
			margin-right: #{$space}px;
		}
	}

	&b-none {
		margin-bottom: 0;
	}

	&b-auto {
		margin-bottom: auto;
	}

	@each $space in $spaces {
		&b-#{$space} {
			margin-bottom: #{$space}px;
		}
	}

	@each $space in $spaces {
		&b-minus-#{$space} {
			margin-bottom: -#{$space}px;
		}
	}

	&t-none {
		margin-bottom: 0;
	}

	&t-auto {
		margin-top: auto;
	}

	@each $space in $spaces {
		&t-#{$space} {
			margin-top: #{$space}px;
		}
	}

	@each $space in $spaces {
		&t-minus-#{$space} {
			margin-top: -#{$space}px;
		}
	}

	&r-auto {
		margin-right: auto;
	}

	@each $space in $spaces {
		&r-#{$space} {
			margin-right: #{$space}px;
		}
	}

	&l-auto {
		margin-left: auto;
	}

	@each $space in $spaces {
		&l-#{$space} {
			margin-left: #{$space}px;
		}
	}
}

.u-p {
	@each $space in $spaces {
		&-#{$space} {
			padding: #{$space}px;
		}
	}

	@each $space in $spaces {
		&v-#{$space} {
			padding-bottom: #{$space}px;
			padding-top: #{$space}px;
		}
	}

	@each $space in $spaces {
		&h-#{$space} {
			padding-left: #{$space}px;
			padding-right: #{$space}px;
		}
	}

	@each $space in $spaces {
		&b-#{$space} {
			padding-bottom: #{$space}px;
		}
	}

	@each $space in $spaces {
		&t-#{$space} {
			padding-top: #{$space}px;
		}
	}

	@each $space in $spaces {
		&r-#{$space} {
			padding-right: #{$space}px;
		}
	}

	@each $space in $spaces {
		&l-#{$space} {
			padding-left: #{$space}px;
		}
	}
}

/*
Spans are used to fix the width of elements on the website. We give spans their maximum width - that used for desktop,
then a percentage width. By setting this less then 100% smaller screens will keep a little space on each side that
scales are the device does.
*/
.u-w {
	width: 100%;

	/*
	Centre an element on the page
	*/
	&--centred {
		margin-left: auto;
		margin-right: auto;
	}

	@each $key, $width in $widths {
		&-#{$key} {
			width: 88%;
			max-width: #{$width};
		}
	}

	/*
	Make box flush to edges on smaller screens
	*/
	@media all and (max-width: 600px) {
		&--m-flush {
			width: 100%;
		}
	}
}
