/*
Specify all the typographic styles that are going to be reused.
*/

html {
	font-size: 24px;
	font-weight: $font-1-regular;
	font-family: $font-1-family;
}


// #####         ### ##### #   #  #     ####   ###
//   #          #      #    # #   #     #     #
//   #           ##    #     #    #     ###    ##
//   #             #   #     #    #     #        #
//   #          ###    #     #    ####  ####  ###
//
.t {
	&-1 {
        font-family: var(--font-1-family);
        font-size: clamp(30px, 4vw, 48px);
        font-weight: var(--font-1-regular);
        line-height: 1.2;
	}

    &-2 {
        font-size: 32px;
        line-height: 48px;
        font-weight: $font-1-bold;
    }

	&-3 {
        font-size: 22px;
        line-height: 26px;
	}

    &-4 {
        font-family: $font-2-family;
        font-size: 16px;
        font-weight: $font-2-regular;
        line-height: 1.2;

        letter-spacing: 0.06ch;
	}

    &-5 {
        font-family: $font-2-family;
        font-size: 13px;
        font-weight: $font-2-bold;
        line-height: 1.2;

        letter-spacing: 0.06ch;
    }

	&-6 {
        font-family: $font-1-family;
		font-size: 14px;
		line-height: 1.4;
	}

	&--bold {
		font-weight: 700;
	}
}

// #####   ##    ###         ###  #### ##### #####  ###   #  #   ###   ###
//   #    #  #  #           #     #      #     #     #    ## #  #     #
//   #    #  #  # ##         ##   ###    #     #     #    # ##  # ##   ##
//   #    ####  #  #           #  #      #     #     #    #  #  #  #     #
//   #    #  #   ###        ###   ####   #     #    ###   #  #   ###  ###
//

/*
Default styles to add to various tags
*/

blockquote {
	> p {
	}

	cite {
	}
}


b, strong {
	font-weight: 700;
}

.break-anywhere {
	word-break: break-all;
}
