<script>
	import Vue from 'vue';

	export default {
		mixins: [Laraform],
		data: () => ({
			buttons: [
				{
					label: 'Enter your story',
					class: 'button u-mt-30'
				}
			],
			formErrors: false,
			schema: {
				story: {
					slots: {
						description: Vue.extend({
							props: ['el$'],
							template: `<p class="t-5 u-mt-5 t--bold">{{ el$.form$.wordsWritten }}</p>`
						})
					}
				}
			}
		}),

		computed: {
			wordCount() {
				return this.data.story ? this.data.story.match(/\S+/g).length : 0;
			},

			wordsWritten() {
				if (this.wordCount === 0) {
					return 'You have written no words.'
				}

				if (this.wordCount < 300) {
					return 'You have written ' + this.data.story.match(/\S+/g).length + ' out of a maximum of 300 words.';
				}

				if (this.wordCount === 300) {
					return 'You have written exactly 300 words, this is the maximum allowed!';
				}

				if (this.wordCount > 300) {
					return 'You have written too many words. Your story has ' + this.data.story.match(/\S+/g).length + ' but the maximum is only 300.';
				}
			}
		},

		created() {
			this.on('submit', () => {
				// Hacky custom validation as I can’t make custom validators with Laraform
				// Community Edition. We call the regular validator if the story is too long
				if (this.wordCount > 300) {
					this.validate();
					return false;
				}
			});

			this.on('success', (response) => {
				window.location = '/' + response.payload.updates.id
			});

			this.on('fail', (response) => {
				// the form has a response with fail status
			});
		}
	}
</script>
